body {
   margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    text-indent: 23px;
}

header{
   border-block-style: dotted;
   border-block-width:bolder;
   width: 100%;
   height: 16rem;
}

h1,h2{
   font-weight: 10px;
   color: red;
   text-align: center;
   margin-top: 5px;
}

section{
   padding-top: 150px;
}

#imagem{
   background: url("download (1).jpeg");
}

#container{
   padding: 20px;
}

p{
   font-size: 20pt;
   font-weight: 350pt;
   align-self: justify ;
}
footer{
   background-color: dimgrey;
   border-bottom:5px dimgrey solid;
   border-top: 3px dimgrey solid;
}
